
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    max-width: 950px;
    margin: 0 auto;
    align-content: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card{
    position: relative;
    display: flex;
    width: 53%;
    height: 30%;
    border-radius: 10px 20px 30px 30px;
    border-color: #c4a76c;
    background: #137779;
    overflow: hidden;
    flex-direction: column;
    margin: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    padding:  35px;
    
}
.card:before{
    content: '';
    position: absolute;
    top: -30%;
    border-color: #c4a76c;
    border-radius: 10px 20px ;
    width: 90%;
    height: 80%;
    
    background: #2b9c9c;
    
    transform: skewY(345deg);
    transition: 0.5s;
}
    .card:hover::before{
        transform: skewY(390deg);
        top: -70%;

    }
    .card::after 
    {
        content: 'LEGENDS';
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 600;
        font-size: 3.5em;
        color: rgba(0, 0, 0, 0.1);
    }
    .card .imgBx{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
    }
    .card .imgBx img{
        
        transition: 0.5s;
        border-radius: 10px 20px 30px 40px;
        max-width: 110%;

    }
    .card:hover .imgBx img{
        max-width: 68%;

    }
    .card .contentBx{
        position: relative;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    }

    .card .contentBx h3{
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .card .contentBx .price{
        font-size: 24px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .card .contentBx .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;   
    color: #fff;
    text-decoration: none;
    background: #2bb4b4;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px; 
    transition: 0.5s;
    }

    .card .contentBx .buy {
    top: 0px;
    opacity: 1;
    }

    .card .logo{
    width: 20px;
    height: 20px;
    }

    cards{
    display: grid;
    justify-items: center;
    padding: 2rem 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
