body{
    background-image: url(../public/img/backloll.png);
    background-repeat: no-repeat;
    background-size: cover;

}


a{
display: block;

font-size: 15px;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}
b{
    margin-top: 10px;
    padding-left: 10px;
    border: none;
    color: #CBD0F7;
    height: 45px;
    outline: none;
    border-radius: 8px;
}
td{
    margin-top: 10px;
    padding-left: 10px;
    border: none;
    color: #CBD0F7;
    height: 45px;
    outline: none;
    border-radius: 8px;
}